<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/trangChu}">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm</title>
</head>
<body>

<div layout:fragment="contentUser" class="bg0 p-b-140" ng-app="filter-app" ng-controller="filter-ctrl">

    <!--    cart-->
    <div class="wrap-header-cart js-panel-cart">
        <div class="s-full js-hide-cart"></div>

        <div class="header-cart flex-col-l p-l-65 p-r-25">
            <div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Giỏ hàng
				</span>

                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>

            <div class="header-cart-content flex-w js-pscroll">
                <ul class="header-cart-wrapitem w-full">
                    <li class="header-cart-item flex-w flex-t m-b-12" ng-repeat="c in cart">
                        <div class="header-cart-item-img" ng-click="removeProductIncart(c.id)">
                            <img src="/image/loadImage/product/{{c.anh}}"
                                 style="width: 60px; height: 80px" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="/chi-tiet-san-pham/{{c.maSanPham}}"
                               class="header-cart-item-info">
                                {{c.tenSanPham}}
                            </a>
                            <span class="header-cart-item-info">
								{{c.soLuong}} x {{c.donGiaSauGiam | currency: "" : 1}}đ
							</span>
                        </div>
                    </li>
                </ul>

                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Tổng tiền: {{ getTotal() | currency: "" : 1}}đ
                    </div>

                    <div class="header-cart-buttons flex-w w-full">
                        <a href="/gio-hang"
                           class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                            Xem giỏ hàng
                        </a>

                        <a href="/thanh-toan"
                           class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                            Thanh toán
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    cart end-->
    <!-- Product -->
    <section class="container d-flex justify-content-center mt-5">
        <div class="row col-12">
            <div class="col-6">
                <h3 class="mb-5">Liên hệ</h3>
                <div class="d-flex align-items-center">
                    <table>
                        <tr>
                            <td style="width: 110px;"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="mr-2">Số điện thoại:</td>
                            <td><span style="font-style: italic;">0339263495</span></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><span style="font-style: italic;">dmvstoresneaker@gmail.com</span></td>
                        </tr>
                        <tr>
                            <td>Facebook:</td>
                            <td><a href="https://www.facebook.com/profile.php?id=61558997788101"
                                   style="font-style: italic;color: #666666;">DMV STORE</a></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td><span
                                    style="font-style: italic;"> Số 51 Nỏ Bạn, Vân Tảo, Thường Tín, Hà Nội</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1244.070015336087!2d105.89673851778412!3d20.87214034254588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135b198d71ec02f%3A0x8fbdd35bc4f58939!2zTuG7jyBC4bqhbiwgVGjGsOG7nW5nIFTDrW4sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1714382731942!5m2!1svi!2s"
                        style="border:0;width: 100%;height: 400px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    <!--    /////////Modal đăng nhập///////////////-->

</div>
</body>
</html>